---
import { getPosts } from "../../scripts/index"

export async function getStaticPaths() {
    const posts = await getPosts()

    return posts.map((post: any) => ({
        params: { slug: post.slug },
        props: { post },
    }))
}

const { post }: { post: any } = Astro.props
---

<html>
    <head>
        <title>{post.title.rendered}</title>
    </head>

    <body>
        <article>
            <h1>{post.title.rendered}</h1>
            <div class="post-content" set:html={post.content.rendered}></div>
        </article>
    </body>
</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1 {
        font-size: 2rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    :global(.post-content p) {
        margin-bottom: 1rem;
        font-size: .9rem;
    }
</style>