---
import { getPosts } from "../../scripts/index"

export async function getStaticPaths() {
    const posts = await getPosts()

    return posts.map((post: any) => ({
        params: { slug: post.slug },
        props: { post },
    }))
}

const { post }: { post: any } = Astro.props
---

<html>
    <head>
        <title>{post.title.rendered}</title>
    </head>

    
    <body>
        <article>
            <img class="featured-img" src={post.jetpack_featured_media_url} alt="">
            <div class="post-details">
                <p class="post-date">{post.date.toString().slice(0,10)}</p>
                <h1 class="post-title">{post.title.rendered}</h1>
            </div>
            <div class="post-content" set:html={post.content.rendered}></div>
        </article>
    </body>
</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    article {
        position: relative;
    }

    .featured-img {
        width: 100%;
        height: auto;
        min-height: 75vh;
        object-fit: cover;
    }

    .post-details {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        color: white;
        background: rgba(0, 0, 0, .3);
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        margin: auto;
        max-width: 600px;
    }

    .post-title {
        font-size: 1.75rem;
        font-weight: 500;
    }

    .post-date {
        margin-bottom: .5rem;
    }

/* .POST-CONTENT is injected raw HTML from WP, not scoped with Astro classes */
/* This is why we need :global & a class to target them but not spill out */

    :global(.post-content) {
        margin: 1rem auto;
        padding: 0 1rem;
        max-width: 800px;
    }

    :global(.wp-block-heading) {
        font-size: 1.75rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    :global(.post-content h2) {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    :global(.post-content p) {
        margin-bottom: 1rem;
        font-size: .9rem;
        width: 90%;
    }

    :global(.post-content a) {
        word-wrap: break-word;
        color: #AB1226;
    }

    :global(.post-content code) {
        background: #F2F2F2;
        padding: 0 .25rem;
        word-wrap: break-word;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    :global(.wp-block-code code) {
        display: inline-block;
        background: #F2F2F2;
        padding: 1rem;
        text-wrap: wrap;
        word-wrap: break-word;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: .8rem;
        width: 90%;
        line-height: 1.5;
    }

    :global(figure) {
        width: 100%;
        margin-left: 0;
    }

    :global(.wp-block-gallery) {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    :global(.wp-block-gallery figure) {
        margin: 0;
        flex: 0 0 calc(50% - .25rem);
    }

    :global(.wp-block-gallery figure:only-child,
    .wp-block-gallery figure:nth-last-child(1):nth-child(odd)) {
        flex: 0 0 100%;
    }

    :global(.wp-block-image img) {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    :global(.wp-block-list) {
        list-style-type: square;
    }

    :global(.wp-block-list li) {
        margin-bottom: .25rem;
        font-size: .9rem;
    }
</style>