* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: 1rem;
}

h1 {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.25rem;
}

p {
    margin-bottom: 1rem;
    font-size: .9rem;
    width: 90%;
}