---
import PostsGallery from "../components/PostsGallery.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About - Astro / WordPress</title>
	</head>

	<body>
		<h1>About</h1>
		<p>[2019.01.26]</p>
		<p>I haven't coded since the mid-1990s.</p>
		<p>In 1985, when I was finishing 5th grade, my family got an Apple IIgs computer. After playing games on it (Ultima V was incredible) and writing school papers using Bank Street Writer Plus, I discovered AppleSoft BASIC and taught myself how to use it. We didn’t have blank disks at the time, so I made text games from scratch, and they were lost to time every night, when we turned the computer off.</p>
		<p>Later on, I mail-ordered a board called a PC Transporter, which was essentially a DOS emulator. We discovered the wide world of PC games, and PC-DOS. A few years later, we got an actual 286 computer and fully moved away from Apple and on to PC. It came with MS-DOS. I taught myself batch programming, largely because we needed to know it to properly play games back then.</p>
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	h1 {
		margin: 1rem;
		font-weight: 400;
        font-size: 1.25rem;
	}
</style>