---
---
<header>
    <h1>REDO FROM START</h1>

    <nav class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>

    <div id="trigram" class="trigram">☰</div>

</header>

<ul id="burger-menu" class="burger-menu hide">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
</ul>

<script>
    document.getElementById("trigram")?.addEventListener("click", function(e) {
        document.getElementById("burger-menu")?.classList.toggle("hide")
    })
</script>

<style>
    header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        background: black;
        color: white;
        padding: .5rem;
    }
    .nav {
        display: none;
    }

    .trigram {
        font-size: 1.5rem;
        cursor: pointer;
        user-select: none;
    }

    .burger-menu {
        position: absolute;
        right: 0;
        z-index: 1;
        background: black;
        list-style-type: none;
        padding-bottom: 1rem;
    }

    .burger-menu li {
        padding: .5rem 0;
        user-select: none;
    }

    .hide {
        display: none;
    }

    a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        padding: 0.5rem 1rem;
        color: #9a9fac;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    @media screen and (min-width: 570px) {
        .nav {
            display: flex;
            justify-content: end;
        }

        .trigram, .burger-menu {
            display: none;
        }
    }
</style>