---
---
<nav>
    <a href="/">Home</a>
</nav>

<style>
    nav {
        display: flex;
        justify-content: end;
    }

    a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0.5rem 1rem;
        color: gainsboro;
        background-color: #AB1226;
        text-decoration: none;
    }

    a:hover {
        color: white;
    }
</style>