---
import { getPosts } from "../scripts/index"
const posts = await getPosts()
---
<h2>Posts Gallery</h2>

<section>
    {posts.map((post: any) => (
        <section class="post-thumb">
            <img 
                class="thumb-img" 
                src={post.jetpack_featured_media_url} 
                alt={post.title.rendered}
            />
            <h2 class="thumb-title">{post.title.rendered}</h2>
        </section>
    ))}
</section>