---
import { getPosts } from "../scripts/index"
const posts = await getPosts()
---
<h2>Posts Gallery</h2>

<section>
    {posts.map((post: any) => (
        <section class="post-thumb">
            <img 
                class="thumb-img" 
                src={post.jetpack_featured_media_url} 
                alt={post.title.rendered}
            />
            <h2 class="thumb-title">{post.title.rendered}</h2>
        </section>
    ))}
</section>

<style>
    .post-thumb {
        position: relative;
        min-height: 33vh;
    }

    .thumb-img {
        width: 100%;
        min-height: 33vh;
        object-fit: cover;
    }

    .thumb-title {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, .3);
    }
</style>